// SPDX-License-Identifier: (GPL-2.0+ or MIT)
// Copyright (C) 2022 Samuel Holland <samuel@sholland.org>

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>

#include "sun20i-d1.dtsi"
#include "sun20i-d1-common-regulators.dtsi"

/ {
	model = "MangoPi MQ Pro";
	compatible = "widora,mangopi-mq-pro", "allwinner,sun20i-d1";

	aliases {
		ethernet0 = &rtl8723ds;
		mmc0 = &mmc0;
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	hdmi_connector: connector {
		compatible = "hdmi-connector";
		type = "c";

		port {
			hdmi_connector_in: endpoint {
				remote-endpoint = <&hdmi_out_connector>;
			};
		};
	};

	leds {
		compatible = "pwm-leds";

		led {
			color = <LED_COLOR_ID_BLUE>;
			function = LED_FUNCTION_STATUS;
			max-brightness = <255>;
			pwms = <&pwm 2 50000 0>;
		};
	};

	reg_avdd2v8: avdd2v8 {
		compatible = "regulator-fixed";
		regulator-name = "avdd2v8";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		vin-supply = <&reg_vcc_3v3>;
	};

	reg_dvdd: dvdd {
		compatible = "regulator-fixed";
		regulator-name = "dvdd";
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
		vin-supply = <&reg_vcc_3v3>;
	};

	reg_vdd_cpu: vdd-cpu {
		compatible = "regulator-fixed";
		regulator-name = "vdd-cpu";
		regulator-min-microvolt = <1100000>;
		regulator-max-microvolt = <1100000>;
		vin-supply = <&reg_vcc>;
	};

	wifi_pwrseq: wifi-pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&pio 6 17 GPIO_ACTIVE_LOW>; /* PG17 */
	};
};

&cpu0 {
        cpu-supply = <&reg_vdd_cpu>;
        riscv,isa = "rv64imafdcv";
};

&de {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&hdmi {
	status = "okay";
};

&hdmi_out {
	hdmi_out_connector: endpoint {
		remote-endpoint = <&hdmi_connector_in>;
	};
};

&hdmi_phy {
	status = "okay";
};

&mmc0 {
	bus-width = <4>;
	cd-gpios = <&pio 5 6 GPIO_ACTIVE_HIGH>; /* PF6 */
	disable-wp;
	vmmc-supply = <&reg_vcc_3v3>;
	vqmmc-supply = <&reg_vcc_3v3>;
	pinctrl-0 = <&mmc0_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&mmc1 {
	bus-width = <4>;
	mmc-pwrseq = <&wifi_pwrseq>;
	non-removable;
	vmmc-supply = <&reg_vcc_3v3>;
	vqmmc-supply = <&reg_vcc_3v3>;
	pinctrl-0 = <&mmc1_pins>;
	pinctrl-names = "default";
	status = "okay";

	rtl8723ds: wifi@1 {
		reg = <1>;
		interrupt-parent = <&pio>;
		interrupts = <6 10 IRQ_TYPE_LEVEL_LOW>; /* PG10 */
		interrupt-names = "host-wake";
	};
};

&ohci1 {
	status = "okay";
};

&pio {
	vcc-pe-supply = <&reg_avdd2v8>;

        // Line names
        gpio-line-names =
            // Port A
            "", "", "", "", "", "", "", "",
            "", "", "", "", "", "", "", "",
            "", "", "", "", "", "", "", "",
            "", "", "", "", "", "", "", "",

            // Port B
            "PB0", "PB1", "PB2", "PB3",
            "PB4", "PB5", "PB6", "PB7",
            "PB8", "PB9", "PB10", "PB11",
            "PB12", "", "", "",
            "", "", "", "",
            "", "", "", "",
            "", "", "", "",
            "", "", "", "",

            // Port C
            "PC0", "PC1", "PC2", "PC3",
            "PC4", "PC5", "PC6", "PC7",
            "", "", "", "",
            "", "", "", "",
            "", "", "", "",
            "", "", "", "",
            "", "", "", "",
            "", "", "", "",

            // Port D
            "PD0", "PD1", "PD2", "PD3",
            "PD4", "PD5", "PD6", "PD7",
            "PD8", "PD9", "PD10", "PD11",
            "PD12", "PD13", "PD14", "PD15",
            "PD16", "PD17", "PD18", "PD19",
            "PD20", "PD21", "PD22", "",
            "", "", "", "",
            "", "", "", "",

            // Port E
            "PE0", "PE1", "PE2", "PE3",
            "PE4", "PE5", "PE6", "PE7",
            "PE8", "PE9", "PE10", "PE11",
            "PE12", "PE13", "PE14", "PE15",
            "PE16", "PE17", "", "",
            "", "", "", "",
            "", "", "", "",
            "", "", "", "",

            // Port F
            "PF0", "PF1", "PF2", "PF3",
            "PF4", "PF5", "PF6", "",
            "", "", "", "",
            "", "", "", "",
            "", "", "", "",
            "", "", "", "",
            "", "", "", "",
            "", "", "", "",

            // Port G
            "PG0", "PG1", "PG2", "PG3",
            "PG4", "PG5", "PG6", "PG7",
            "PG8", "PG9", "PG10", "PG11",
            "PG12", "PG13", "PG14", "PG15",
            "PG16", "PG17", "PG18",  "",
            "", "", "", "",
            "", "", "", "",
            "", "", "", "";

};

&uart0 {
	pinctrl-0 = <&uart0_pb8_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&uart1 {
	uart-has-rtscts;
	pinctrl-0 = <&uart1_pg6_pins>, <&uart1_pg8_rts_cts_pins>;
	pinctrl-names = "default";
	status = "okay";

	bluetooth {
		compatible = "realtek,rtl8723ds-bt";
		device-wake-gpios = <&pio 6 18 GPIO_ACTIVE_HIGH>; /* PG18 */
		enable-gpios = <&pio 6 15 GPIO_ACTIVE_HIGH>; /* PG15 */
		host-wake-gpios = <&pio 6 14 GPIO_ACTIVE_HIGH>; /* PG14 */
	};
};

&usb_otg {
	dr_mode = "peripheral";
	status = "okay";
};

&usbphy {
	usb0_vbus-supply = <&reg_vcc>;
	status = "okay";
};

&codec {
        routing = "Headphone Jack", "HPOUTL",
                  "Headphone Jack", "HPOUTR";
        widgets = "Headphone", "Headphone Jack";
        status = "okay";
};
